<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.webServer>

	<applicationInitialization doAppInitAfterRestart="true">
      <add initializationPage="/" />
    </applicationInitialization>
	
	
	<staticContent>
	  <remove fileExtension=".js" />
	  <remove fileExtension=".json" />
	  <remove fileExtension=".map" />
	  <remove fileExtension=".wasm" />
	  <remove fileExtension=".webmanifest" />
	  <remove fileExtension=".css" />
	  <remove fileExtension=".html" />
  	<remove fileExtension=".m3u8" />
  
	<remove fileExtension=".ts" />

	  <mimeMap fileExtension=".js" mimeType="application/javascript" />
	  <mimeMap fileExtension=".json" mimeType="application/json" />
	  <mimeMap fileExtension=".map" mimeType="application/json" />
	  <mimeMap fileExtension=".wasm" mimeType="application/wasm" />
	  <mimeMap fileExtension=".webmanifest" mimeType="application/manifest+json" />
	  <mimeMap fileExtension=".css" mimeType="text/css" />
	  <mimeMap fileExtension=".html" mimeType="text/html" />
	  <mimeMap fileExtension=".kml" mimeType="application/vnd.google-earth.kml+xml" />
	  <mimeMap fileExtension=".geojson" mimeType="application/json" />

  	<mimeMap fileExtension=".m3u8" mimeType="application/vnd.apple.mpegurl" />
  
	<mimeMap fileExtension=".ts" mimeType="video/mp2t" />
	</staticContent>

   <defaultDocument>
	<files>
	  <clear />
	  <add value="index.html" />
	</files>
  </defaultDocument>

    <rewrite>
      <rules>

        <!-- Cho phép serve file static từ _next -->
        <rule name="NextJS Static Files" stopProcessing="true">
          <match url="^_next/static/.*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" />
          </conditions>
          <action type="None" />
        </rule>

        <!-- Route /api/* đến ứng dụng con -->
        <rule name="API Rewrite" stopProcessing="true">
          <match url="^api/(.*)" />
          <action type="Rewrite" url="/api/{R:1}" />
        </rule>

        <!-- Fallback -->
		  <rule name="SPA Fallback" stopProcessing="true">
			<match url="^((?!index\.html).)*$" />
			<conditions logicalGrouping="MatchAll">
			  <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
			  <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
			</conditions>
			<action type="Rewrite" url="/index.html" />
		  </rule>

      </rules>
    </rewrite>

  </system.webServer>
</configuration>
